<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<script src="js/index.js"></script>
		
		<title>AnimeX</title>
		
	</head>

	<body>
		
		<img src="images/anim_x_logo.png" class="logo" />
		
		<h1 class="  w-50 text-center opacity-75 " style="color:#FFD700;margin-left:25%; margin-top:-100px ">Fuel of the day!! </h1>
		
		<figure class="text-center bg-dark w-50 opacity-75 overflow-auto " style="margin-left:25%; margin-top:50px; height:15%;">
			<div class="spinner-grow text-primary" id="spinner" role="status">
				<span class="sr-only"></span>
			</div>
			<blockquote class="blockquote">
				<h4 id="quote_id" style="color:#FFD700"></h4>
			</blockquote>
			<figcaption class="blockquote-footer">
				<cite id="citation" title="Source Title" style="color:#FFD700"></cite>
			</figcaption> 
		</figure>
		
		<div class="d-grid gap-2 col-4 mx-auto  position-absolute top-50 start-50 translate-middle mt-5"  >
			<button class="btn btn-primary bg-gradient btn-lg" type="button" onclick='anime_quotes()' >More Quotes?Click Me </button>
			<button class="btn btn-success bg-gradient btn-lg" type="button" onclick='battlefield()'>Battlefield Challenge</button>
			<button class="btn btn-danger bg-gradient btn-lg" type="button" onclick='animeFacts()'>Create Your Own Quotes</button>
		</div>
		

	</body>

</html>